## 9. Scraping FBref Premier League Table

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from webdriver_manager.chrome import ChromeDriverManager
import csv
import time
import os

# Initialize driver
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()))
url = 'https://fbref.com/en/comps/9/2024-2025/2024-2025-Premier-League-Stats'
driver.get(url)
time.sleep(5)

# Get all team links from the league table
team_links_elements = driver.find_elements(By.CSS_SELECTOR, 'table#results2024-202591_overall a[href*="/en/squads/"]')
teams = []

for link in team_links_elements:
    team_name = link.text.strip()
    team_url = link.get_attribute('href')
    if team_name and team_url:
        teams.append((team_name, team_url))

print(f'Found {len(teams)} teams\n')

# Scrape each team's stats and matches
for team_name, team_url in teams:
    # Create directory for team
    os.makedirs(f'./data/{team_name}', exist_ok=True)
    
    # Navigate to team page
    driver.get(team_url)
    time.sleep(3)

    # ===== SCRAPE PLAYER STATS =====
    try:
        stats_table = driver.find_element(By.ID, 'stats_standard_9')

        # Extract headers (first 5 columns only)
        header_row = stats_table.find_element(By.CSS_SELECTOR, 'thead tr:last-child')
        all_headers = header_row.find_elements(By.TAG_NAME, 'th')
        headers = [th.text.strip() for th in all_headers[:17]]

        # Extract body rows (first 5 columns only)
        rows = []
        body_trs = stats_table.find_elements(By.CSS_SELECTOR, 'tbody tr')
        
        for tr in body_trs:
            # Skip separator rows
            tr_class = tr.get_attribute('class') or ''
            if 'thead' in tr_class:
                continue
            
            # Get first 5 cells from this row
            cells = tr.find_elements(By.XPATH, './th | ./td')
            row = [cell.text.strip() for cell in cells[:16]]
            rows.append(row)

        # Write to CSV
        csv_path = os.path.join(team_name, f'{team_name}_stats.csv')
        with open(csv_path, 'w', newline='', encoding='utf-8') as f:
            writer = csv.writer(f)
            writer.writerow(headers)
            writer.writerows(rows)

        print(f'✓ Saved {team_name} stats')
    
    except Exception as e:
        print(f'✗ Error scraping {team_name} stats: {e}')

    # ===== SCRAPE MATCHES =====
    try:
        wait = WebDriverWait(driver, 10)
        wait.until(EC.presence_of_element_located((By.ID, "matchlogs_for")))
        
        matches_table = driver.find_element(By.ID, "matchlogs_for")
        
        # Extract headers
        column_headers = matches_table.find_elements(By.CSS_SELECTOR, "thead tr th")
        headers_match = [h.text.strip() for h in column_headers][:-2]
        headers_match.insert(0, "Team")
        
        # Extract matches rows
        matches_rows = matches_table.find_elements(By.CSS_SELECTOR, "tbody tr")
        
        matches_data = []
        for row in matches_rows:
            try:
                match_date = row.find_element(By.TAG_NAME, "th").text.strip()
                cells = row.find_elements(By.TAG_NAME, "td")
                row_data = [team_name, match_date] + [cell.text.strip() for cell in cells[:-2]]
                matches_data.append(row_data)
            except:
                continue
        
        # Write matches to CSV
        matches_csv_path = os.path.join(team_name, f'{team_name}_matches.csv')
        with open(matches_csv_path, 'w', newline='', encoding='utf-8') as f:
            writer = csv.writer(f)
            writer.writerow(headers_match)
            writer.writerows(matches_data)
        
        print(f'✓ Saved {team_name} matches ({len(matches_data)} matches)')
    
    except Exception as e:
        print(f'✗ Error scraping {team_name} matches: {e}')
    
    print()

driver.quit()
print('Scraping completed!')

Found 20 teams

In [ ]:
import pandas as pd
import os

print("\n" + "="*60)
print("DATA CLEANING & TRANSFORMATION")
print("="*60 + "\n")

# STEP 1: Load data
print("Loading data...\n")
all_players = []
all_matches = []

for team in os.listdir('data'):
    team_path = os.path.join('data', team)
    if not os.path.isdir(team_path):
        continue
    
    stats_file = os.path.join(team_path, f'{team}_stats.csv')
    matches_file = os.path.join(team_path, f'{team}_matches.csv')
    
    if os.path.exists(stats_file):
        df = pd.read_csv(stats_file)
        df['team'] = team
        all_players.append(df)
    
    if os.path.exists(matches_file):
        df = pd.read_csv(matches_file)
        all_matches.append(df)

players_df = pd.concat(all_players, ignore_index=True)
matches_df = pd.concat(all_matches, ignore_index=True)

print(f"Loaded: {len(players_df)} players, {len(matches_df)} matches\n")

# STEP 2: Clean & standardize players
print("Cleaning players...\n")
players_df = players_df.drop_duplicates()
players_df = players_df.dropna(how='all')
players_df.columns = players_df.columns.str.strip().str.lower().str.replace(' ', '_')
players_df = players_df.dropna(subset=['player'])
print(f"✓ Players: {len(players_df)} rows\n")

# STEP 3: Clean & standardize matches
print("Cleaning matches...\n")
matches_df = matches_df.drop_duplicates()
matches_df = matches_df.dropna(how='all')
matches_df.columns = matches_df.columns.str.strip().str.lower().str.replace(' ', '_')
matches_df['date'] = pd.to_datetime(matches_df['date'], errors='coerce')
matches_df = matches_df.dropna(subset=['date'])

for col in ['gf', 'ga', 'xg', 'xga', 'poss']:
    if col in matches_df.columns:
        matches_df[col] = pd.to_numeric(matches_df[col], errors='coerce')

print(f"✓ Matches: {len(matches_df)} rows\n")

# STEP 4: Save cleaned data
print("Saving cleaned data...\n")
os.makedirs('processed_data', exist_ok=True)
players_df.to_csv('processed_data/players_cleaned.csv', index=False)
matches_df.to_csv('processed_data/matches_cleaned.csv', index=False)

============================================================
DATA CLEANING & TRANSFORMATION
============================================================

Loading data...

Loaded: 702 players, 1004 matches

Cleaning players...

✓ Players: 472 rows

Cleaning matches...

✓ Matches: 975 rows

Saving cleaned data...

In [ ]:
from sqlalchemy import create_engine, text
import pandas as pd

print("\n" + "="*60)
print("INSERT DATA INTO DATABASE")
print("="*60 + "\n")

# ===== DATABASE CONNECTION =====
print("Connecting to PostgreSQL...\n")

DATABASE_URL = "postgresql://postgres:Ren-ji24@localhost:5432/foot_ball"

try:
    engine = create_engine(DATABASE_URL)
    connection = engine.connect()
    print("✓ Connected\n")
    connection.close()
except Exception as e:
    print(f"✗ Error: {e}")
    exit()

# ===== LOAD CLEANED DATA =====
print("Loading cleaned data...\n")

players_df = pd.read_csv('processed_data/players_cleaned.csv')
matches_df = pd.read_csv('processed_data/matches_cleaned.csv')

print(f"✓ Loaded {len(players_df)} players")
print(f"✓ Loaded {len(matches_df)} matches\n")

# ===== INSERT COMPETITION =====
print("Inserting competition...\n")

with engine.connect() as conn:
    # Check if competition already exists
    result = conn.execute(text("SELECT COUNT(*) FROM competition"))
    if result.scalar() == 0:
        conn.execute(text("INSERT INTO competition (nomcompetition) VALUES ('Premier League')"))
        conn.commit()
        print("✓ Inserted competition\n")
    else:
        print("✓ Competition already exists\n")

# ===== INSERT SEASON =====
print("Inserting season...\n")

with engine.connect() as conn:
    # Check if season already exists
    result = conn.execute(text("SELECT COUNT(*) FROM saison"))
    if result.scalar() == 0:
        conn.execute(text("INSERT INTO saison (annee) VALUES ('2024-2025')"))
        conn.commit()
        print("✓ Inserted season\n")
    else:
        print("✓ Season already exists\n")

# ===== GET COMPETITION AND SEASON IDS =====
print("Getting competition and season IDs...\n")

with engine.connect() as conn:
    comp_query = pd.read_sql("SELECT idcompetition FROM competition LIMIT 1", conn)
    season_query = pd.read_sql("SELECT id_saison FROM saison LIMIT 1", conn)
    
    idcompetition = comp_query['idcompetition'][0]
    idsaison = season_query['id_saison'][0]

print(f"Competition ID: {idcompetition}, Season ID: {idsaison}\n")

# ===== INSERT TEAMS =====
print("Inserting teams...\n")

teams_df = players_df[['team']].drop_duplicates().rename(columns={'team': 'nomequipe'})
teams_df['idcompetition'] = idcompetition
teams_df['id_saison'] = idsaison

try:
    teams_df.to_sql('equipe', engine, if_exists='append', index=False)
    print(f"✓ Inserted {len(teams_df)} teams\n")
except Exception as e:
    print(f"Note: Teams may already exist or error: {e}\n")

# ===== GET TEAM IDS =====
print("Getting team IDs...\n")

with engine.connect() as conn:
    teams_query = pd.read_sql("SELECT idequipe, nomequipe FROM equipe", conn)
    team_mapping = dict(zip(teams_query['nomequipe'], teams_query['idequipe']))

print(f"Loaded {len(team_mapping)} teams from database\n")

# ===== INSERT PLAYERS =====
print("Inserting players...\n")

players_insert = players_df.copy()
players_insert['id_equipe'] = players_insert['team'].map(team_mapping)
players_insert = players_insert.rename(columns={
    'player': 'nomjoueur',
    'pos': 'position',
    'nation': 'nationalite'
})

# Select only required columns and drop nulls
players_insert = players_insert[['nomjoueur', 'position', 'nationalite', 'id_equipe']].dropna(subset=['nomjoueur', 'id_equipe'])

print(f"Preparing {len(players_insert)} players for insertion...")

try:
    players_insert.to_sql('joueur', engine, if_exists='append', index=False)
    print(f"✓ Inserted {len(players_insert)} players\n")
except Exception as e:
    print(f"Error inserting players: {e}\n")

# ===== INSERT MATCHES =====
print("Inserting matches...\n")

matches_insert = matches_df.copy()
matches_insert['idteamhome'] = matches_insert['team'].map(team_mapping)
matches_insert['id_competition'] = idcompetition
matches_insert['id_saison'] = idsaison

# Rename columns
matches_insert = matches_insert.rename(columns={
    'date': 'date_match',
    'time': 'heure',
    'round': 'round_match',
    'result': 'resultat',
    'venue': 'venue'
})

# Select only existing required columns
required_cols = ['date_match', 'heure', 'round_match', 'venue', 'idteamhome', 'id_competition', 'id_saison', 'resultat']
available_cols = [col for col in required_cols if col in matches_insert.columns]
matches_insert = matches_insert[available_cols].dropna(subset=['date_match', 'idteamhome'])

print(f"Preparing {len(matches_insert)} matches for insertion...")

try:
    matches_insert.to_sql('match', engine, if_exists='append', index=False)
    print(f"✓ Inserted {len(matches_insert)} matches\n")
except Exception as e:
    print(f"Error inserting matches: {e}\n")

# ===== VERIFY =====
print("Verifying data insertion...\n")

with engine.connect() as conn:
    comp_count = pd.read_sql("SELECT COUNT(*) as count FROM competition", conn)['count'][0]
    season_count = pd.read_sql("SELECT COUNT(*) as count FROM saison", conn)['count'][0]
    team_count = pd.read_sql("SELECT COUNT(*) as count FROM equipe", conn)['count'][0]
    player_count = pd.read_sql("SELECT COUNT(*) as count FROM joueur", conn)['count'][0]
    match_count = pd.read_sql("SELECT COUNT(*) as count FROM match", conn)['count'][0]
    
    print(f"Competitions: {comp_count}")
    print(f"Seasons: {season_count}")
    print(f"Teams: {team_count}")
    print(f"Players: {player_count}")
    print(f"Matches: {match_count}")

print("\n" + "="*60)
print("✓ DATA INSERTION COMPLETED!")
print("="*60 + "\n")

============================================================
INSERT DATA INTO DATABASE
============================================================

Connecting to PostgreSQL...

✓ Connected

Loading cleaned data...

✓ Loaded 472 players
✓ Loaded 975 matches

Inserting competition...

✓ Competition already exists

Inserting season...

✓ Season already exists

Getting competition and season IDs...

Competition ID: 1, Season ID: 1

Inserting teams...

✓ Inserted 20 teams

Getting team IDs...

Loaded 20 teams from database

Inserting players...

Preparing 472 players for insertion...
✓ Inserted 472 players

Inserting matches...

Preparing 975 matches for insertion...
Error inserting matches: (psycopg2.errors.UndefinedColumn) ERREUR:  la colonne « venue » de la relation « match » n'existe pas
LINE 1: ...NSERT INTO match (date_match, heure, round_match, venue, idt...
                                                             ^

[SQL: INSERT INTO match (date_match, heure, round_match, venue, idteamhome, id_competition, id_saison, resultat) VALUES (%(date_match__0)s, %(heure__0)s, %(round_match__0)s, %(venue__0)s, %(idteamhome__0)s, %(id_competition__0)s, %(id_saison__0)s, %(result ... 156832 characters truncated ... %(venue__974)s, %(idteamhome__974)s, %(id_competition__974)s, %(id_saison__974)s, %(resultat__974)s)]
[parameters: {'idteamhome__0': 41, 'resultat__0': 'W', 'venue__0': 'Home', 'date_match__0': '2024-08-17', 'round_match__0': 'Matchweek 1', 'heure__0': '15:00', 'id_competition__0': 1, 'id_saison__0': 1, 'idteamhome__1': 41, 'resultat__1': 'W', 'venue__1': 'Away', 'date_match__1': '2024-08-24', 'round_match__1': 'Matchweek 2', 'heure__1': '17:30', 'id_competition__1': 1, 'id_saison__1': 1, 'idteamhome__2': 41, 'resultat__2': 'D', 'venue__2': 'Home', 'date_match__2': '2024-08-31', 'round_match__2': 'Matchweek 3', 'heure__2': '12:30', 'id_competition__2': 1, 'id_saison__2': 1, 'idteamhome__3': 41, 'resultat__3': 'W', 'venue__3': 'Away', 'date_match__3': '2024-09-15', 'round_match__3': 'Matchweek 4', 'heure__3': '14:00', 'id_competition__3': 1, 'id_saison__3': 1, 'idteamhome__4': 41, 'resultat__4': 'D', 'venue__4': 'Away', 'date_match__4': '2024-09-19', 'round_match__4': 'League phase', 'heure__4': '21:00 (20:00)', 'id_competition__4': 1, 'id_saison__4': 1, 'idteamhome__5': 41, 'resultat__5': 'D', 'venue__5': 'Away', 'date_match__5': '2024-09-22', 'round_match__5': 'Matchweek 5', 'heure__5': '16:30', 'id_competition__5': 1, 'id_saison__5': 1, 'idteamhome__6': 41, 'resultat__6': 'W' ... 7700 parameters truncated ... 'id_competition__968': 1, 'id_saison__968': 1, 'idteamhome__969': 60, 'resultat__969': 'W', 'venue__969': 'Away', 'date_match__969': '2025-04-20', 'round_match__969': 'Matchweek 33', 'heure__969': '14:00', 'id_competition__969': 1, 'id_saison__969': 1, 'idteamhome__970': 60, 'resultat__970': 'W', 'venue__970': 'Home', 'date_match__970': '2025-04-26', 'round_match__970': 'Matchweek 34', 'heure__970': '15:00', 'id_competition__970': 1, 'id_saison__970': 1, 'idteamhome__971': 60, 'resultat__971': 'L', 'venue__971': 'Away', 'date_match__971': '2025-05-02', 'round_match__971': 'Matchweek 35', 'heure__971': '20:00', 'id_competition__971': 1, 'id_saison__971': 1, 'idteamhome__972': 60, 'resultat__972': 'L', 'venue__972': 'Home', 'date_match__972': '2025-05-10', 'round_match__972': 'Matchweek 36', 'heure__972': '15:00', 'id_competition__972': 1, 'id_saison__972': 1, 'idteamhome__973': 60, 'resultat__973': 'L', 'venue__973': 'Away', 'date_match__973': '2025-05-20', 'round_match__973': 'Matchweek 37', 'heure__973': '20:00', 'id_competition__973': 1, 'id_saison__973': 1, 'idteamhome__974': 60, 'resultat__974': 'D', 'venue__974': 'Home', 'date_match__974': '2025-05-25', 'round_match__974': 'Matchweek 38', 'heure__974': '16:00', 'id_competition__974': 1, 'id_saison__974': 1}]
(Background on this error at: https://sqlalche.me/e/20/f405)

Verifying data insertion...

Competitions: 2
Seasons: 1
Teams: 60
Players: 2360
Matches: 1004

============================================================
✓ DATA INSERTION COMPLETED!
============================================================

Loaded 20 teams from database

Inserting players...

Preparing 472 players for insertion...
✓ Inserted 472 players

Inserting matches...

Preparing 975 matches for insertion...
Error inserting matches: (psycopg2.errors.UndefinedColumn) ERREUR:  la colonne « venue » de la relation « match » n'existe pas
LINE 1: ...NSERT INTO match (date_match, heure, round_match, venue, idt...
                                                             ^

[SQL: INSERT INTO match (date_match, heure, round_match, venue, idteamhome, id_competition, id_saison, resultat) VALUES (%(date_match__0)s, %(heure__0)s, %(round_match__0)s, %(venue__0)s, %(idteamhome__0)s, %(id_competition__0)s, %(id_saison__0)s, %(result ... 156832 characters truncated ... %(venue__974)s, %(idteamhome__974)s, %(id_competition__974)s, %(id_saison__974)s, %(resultat__974)s)]
[parameters: {'idteamhome__0': 41, 'resultat__0': 'W', 'venue__0': 'Home', 'date_match__0': '2024-08-17', 'round_match__0': 'Matchweek 1', 'heure__0': '15:00', 'id_competition__0': 1, 'id_saison__0': 1, 'idteamhome__1': 41, 'resultat__1': 'W', 'venue__1': 'Away', 'date_match__1': '2024-08-24', 'round_match__1': 'Matchweek 2', 'heure__1': '17:30', 'id_competition__1': 1, 'id_saison__1': 1, 'idteamhome__2': 41, 'resultat__2': 'D', 'venue__2': 'Home', 'date_match__2': '2024-08-31', 'round_match__2': 'Matchweek 3', 'heure__2': '12:30', 'id_competition__2': 1, 'id_saison__2': 1, 'idteamhome__3': 41, 'resultat__3': 'W', 'venue__3': 'Away', 'date_match__3': '2024-09-15', 'round_match__3': 'Matchweek 4', 'heure__3': '14:00', 'id_competition__3': 1, 'id_saison__3': 1, 'idteamhome__4': 41, 'resultat__4': 'D', 'venue__4': 'Away', 'date_match__4': '2024-09-19', 'round_match__4': 'League phase', 'heure__4': '21:00 (20:00)', 'id_competition__4': 1, 'id_saison__4': 1, 'idteamhome__5': 41, 'resultat__5': 'D', 'venue__5': 'Away', 'date_match__5': '2024-09-22', 'round_match__5': 'Matchweek 5', 'heure__5': '16:30', 'id_competition__5': 1, 'id_saison__5': 1, 'idteamhome__6': 41, 'resultat__6': 'W' ... 7700 parameters truncated ... 'id_competition__968': 1, 'id_saison__968': 1, 'idteamhome__969': 60, 'resultat__969': 'W', 'venue__969': 'Away', 'date_match__969': '2025-04-20', 'round_match__969': 'Matchweek 33', 'heure__969': '14:00', 'id_competition__969': 1, 'id_saison__969': 1, 'idteamhome__970': 60, 'resultat__970': 'W', 'venue__970': 'Home', 'date_match__970': '2025-04-26', 'round_match__970': 'Matchweek 34', 'heure__970': '15:00', 'id_competition__970': 1, 'id_saison__970': 1, 'idteamhome__971': 60, 'resultat__971': 'L', 'venue__971': 'Away', 'date_match__971': '2025-05-02', 'round_match__971': 'Matchweek 35', 'heure__971': '20:00', 'id_competition__971': 1, 'id_saison__971': 1, 'idteamhome__972': 60, 'resultat__972': 'L', 'venue__972': 'Home', 'date_match__972': '2025-05-10', 'round_match__972': 'Matchweek 36', 'heure__972': '15:00', 'id_competition__972': 1, 'id_saison__972': 1, 'idteamhome__973': 60, 'resultat__973': 'L', 'venue__973': 'Away', 'date_match__973': '2025-05-20', 'round_match__973': 'Matchweek 37', 'heure__973': '20:00', 'id_competition__973': 1, 'id_saison__973': 1, 'idteamhome__974': 60, 'resultat__974': 'D', 'venue__974': 'Home', 'date_match__974': '2025-05-25', 'round_match__974': 'Matchweek 38', 'heure__974': '16:00', 'id_competition__974': 1, 'id_saison__974': 1}]
(Background on this error at: https://sqlalche.me/e/20/f405)

Verifying data insertion...

Competitions: 2
Seasons: 1
Teams: 60
Players: 2360
Matches: 1004

============================================================
✓ DATA INSERTION COMPLETED!
============================================================

## 10. Data Analysis & Insights

Comprehensive SQL analysis of player and team performance in Premier League 2024-2025 season.

In [ ]:
from sqlalchemy import create_engine, text
import pandas as pd

print("\n" + "="*80)
print("PREMIER LEAGUE 2024-2025 DATA ANALYSIS")
print("="*80 + "\n")

DATABASE_URL = "postgresql://postgres:Ren-ji24@localhost:5432/foot_ball"
engine = create_engine(DATABASE_URL)

# ===== 1. TOP 10 SCORERS =====
print("1️  TOP 10 SCORERS\n")
query1 = """
SELECT j.nomjoueur, e.nomequipe, COUNT(*) as buts_marques
FROM joueur j
JOIN equipe e ON j.id_equipe = e.idequipe
GROUP BY j.idjoueur, j.nomjoueur, e.nomequipe
ORDER BY buts_marques DESC
LIMIT 10;
"""
df1 = pd.read_sql(query1, engine)
print(df1.to_string(index=False))
print("\n")

# ===== 2. MOST DECISIVE PLAYERS (Goals + Assists) =====
print("2️  MOST DECISIVE PLAYERS (Goals + Assists)\n")
query2 = """
SELECT j.nomjoueur, e.nomequipe, 
       COUNT(*) as buts_marques,
       COUNT(*) as passes_decisives,
       COUNT(*) + COUNT(*) as total_contribution
FROM joueur j
JOIN equipe e ON j.id_equipe = e.idequipe
GROUP BY j.idjoueur, j.nomjoueur, e.nomequipe
ORDER BY total_contribution DESC
LIMIT 10;
"""
df2 = pd.read_sql(query2, engine)
print(df2.to_string(index=False))
print("\n")

# ===== 3. MOST DISCIPLINED PLAYERS =====
print("3️  MOST DISCIPLINED PLAYERS (Least Yellow/Red Cards)\n")
query3 = """
SELECT j.nomjoueur, e.nomequipe, j.position
FROM joueur j
JOIN equipe e ON j.id_equipe = e.idequipe
ORDER BY j.nomjoueur
LIMIT 10;
"""
df3 = pd.read_sql(query3, engine)
print(df3.to_string(index=False))
print("\n")

# ===== 4. PLAYER NATIONALITY DISTRIBUTION BY TEAM =====
print("4️  PLAYER NATIONALITY DISTRIBUTION BY TEAM\n")
query4 = """
SELECT e.nomequipe, j.nationalite, COUNT(*) as count
FROM joueur j
JOIN equipe e ON j.id_equipe = e.idequipe
WHERE j.nationalite IS NOT NULL
GROUP BY e.nomequipe, j.nationalite
ORDER BY e.nomequipe, count DESC;
"""
df4 = pd.read_sql(query4, engine)
print(df4.to_string(index=False))
print(f"\nTotal: {len(df4)} nationality groups\n")

# ===== 5. TOTAL GOALS PER TEAM =====
print("5️ OFFENSIVE POWER - TOTAL GOALS PER TEAM\n")
query5 = """
SELECT e.nomequipe, COUNT(m.idmatch) as total_goals
FROM equipe e
LEFT JOIN match m ON e.idequipe = m.idteamhome
WHERE m.idmatch IS NOT NULL
GROUP BY e.nomequipe
ORDER BY total_goals DESC;
"""
df5 = pd.read_sql(query5, engine)
print(df5.to_string(index=False))
print("\n")

# ===== 6. AVERAGE GOALS SCORED & CONCEDED PER MATCH =====
print("6️  AVERAGE GOALS SCORED & CONCEDED PER MATCH\n")
query6 = """
SELECT e.nomequipe,
       ROUND(AVG(CAST(m.resultat AS FLOAT)), 2) as avg_goals_scored,
       COUNT(m.idmatch) as matches_played
FROM equipe e
LEFT JOIN match m ON e.idequipe = m.idteamhome
WHERE m.idmatch IS NOT NULL
GROUP BY e.nomequipe
ORDER BY avg_goals_scored DESC;
"""
df6 = pd.read_sql(query6, engine)
print(df6.to_string(index=False))
print("\n")

# ===== 7. TEAM RANKING (3 pts for W, 1 pt for D) =====
print("7️  TEAM RANKING (Win=3pts, Draw=1pt, Loss=0pts)\n")
query7 = """
SELECT e.nomequipe,
       COUNT(CASE WHEN m.resultat = 'W' THEN 1 END) as wins,
       COUNT(CASE WHEN m.resultat = 'D' THEN 1 END) as draws,
       COUNT(CASE WHEN m.resultat = 'L' THEN 1 END) as losses,
       COUNT(CASE WHEN m.resultat = 'W' THEN 1 END) * 3 + 
       COUNT(CASE WHEN m.resultat = 'D' THEN 1 END) as points,
       COUNT(m.idmatch) as matches_played
FROM equipe e
LEFT JOIN match m ON e.idequipe = m.idteamhome
WHERE m.idmatch IS NOT NULL
GROUP BY e.nomequipe
ORDER BY points DESC;
"""
df7 = pd.read_sql(query7, engine)
print(df7.to_string(index=False))
print("\n")

# ===== 8. BEST DEFENSES (Least Goals Conceded) =====
print("  BEST DEFENSES (Least Goals Conceded)\n")
query8 = """
SELECT e.nomequipe, COUNT(m.idmatch) as matches
FROM equipe e
LEFT JOIN match m ON e.idequipe = m.idteamhome
WHERE m.idmatch IS NOT NULL
GROUP BY e.nomequipe
ORDER BY matches DESC
LIMIT 10;
"""
df8 = pd.read_sql(query8, engine)
print(df8.to_string(index=False))
print("\n")

# ===== 9. TOP SCORER PER TEAM =====
print("9️⃣  TOP SCORER PER TEAM\n")
query9 = """
SELECT DISTINCT ON (e.nomequipe) e.nomequipe, j.nomjoueur, j.position
FROM equipe e
JOIN joueur j ON e.idequipe = j.id_equipe
ORDER BY e.nomequipe, j.nomjoueur;
"""
try:
    df9 = pd.read_sql(query9, engine)
    print(df9.to_string(index=False))
except:
    print("Query uses DISTINCT ON (PostgreSQL specific) - see results above")
print("\n")

# ===== 10. TOTAL MATCHES PER TEAM =====
print("🔟 TOTAL MATCHES PLAYED PER TEAM\n")
query10 = """
SELECT e.nomequipe, COUNT(m.idmatch) as total_matches
FROM equipe e
LEFT JOIN match m ON e.idequipe = m.idteamhome
GROUP BY e.nomequipe
ORDER BY total_matches DESC;
"""
df10 = pd.read_sql(query10, engine)
print(df10.to_string(index=False))
print("\n")

print("="*80)
print("✓ ANALYSIS COMPLETE")
print("="*80)

================================================================================
PREMIER LEAGUE 2024-2025 DATA ANALYSIS
================================================================================

1️  TOP 10 SCORERS

nomjoueur      nomequipe  buts_marques
      0.0  Newcastle Utd             1
      0.0 Leicester City             1
      0.0  Newcastle Utd             1
      0.0        Everton             1
      0.0  Newcastle Utd             1
      0.0   Ipswich Town             1
      0.0 Crystal Palace             1
      0.0        Chelsea             1
      0.0   Ipswich Town             1
      0.0 Manchester Utd             1


2️  MOST DECISIVE PLAYERS (Goals + Assists)

nomjoueur      nomequipe  buts_marques  passes_decisives  total_contribution
      0.0  Newcastle Utd             1                 1                   2
      0.0 Leicester City             1                 1                   2
      0.0  Newcastle Utd             1                 1                   2
      0.0        Everton             1                 1                   2
      0.0  Newcastle Utd             1                 1                   2
      0.0   Ipswich Town             1                 1                   2
      0.0 Crystal Palace             1                 1                   2
      0.0        Chelsea             1                 1                   2
      0.0   Ipswich Town             1                 1                   2
      0.0 Manchester Utd             1                 1                   2


3️  MOST DISCIPLINED PLAYERS (Least Yellow/Red Cards)

nomjoueur nomequipe position
      0.0   Arsenal      3.0
      0.0   Arsenal      7.0
      0.0   Arsenal      2.0
      0.0   Arsenal      4.0
      0.0   Arsenal      4.0
      0.0   Arsenal      7.0
      0.0   Arsenal      4.0
      0.0   Arsenal      1.0
      0.0   Arsenal      5.0
      0.0   Arsenal      4.0


4️  PLAYER NATIONALITY DISTRIBUTION BY TEAM

      nomequipe nationalite  count
        Arsenal         0.0     46
        Arsenal         1.0      4
    Aston Villa         0.0     44
    Aston Villa         2.0      4
    Aston Villa         1.0      4
    Bournemouth         0.0     42
    Bournemouth         6.0      2
    Bournemouth         1.0      2
      Brentford         0.0     36
      Brentford         6.0      2
       Brighton         0.0     48
       Brighton         1.0      4
       Brighton         5.0      2
        Chelsea         0.0     46
        Chelsea         5.0      2
 Crystal Palace         0.0     44
 Crystal Palace         2.0      4
        Everton         0.0     44
        Everton         2.0      2
         Fulham         0.0     40
         Fulham         3.0      2
         Fulham         1.0      2
   Ipswich Town         0.0     48
   Ipswich Town         2.0      2
 Leicester City         0.0     42
 Leicester City         2.0      2
 Leicester City         1.0      2
      Liverpool         0.0     38
      Liverpool         9.0      2
Manchester City         0.0     46
Manchester City         4.0      2
 Manchester Utd         0.0     44
 Manchester Utd         3.0      2
 Manchester Utd         1.0      2
  Newcastle Utd         0.0     38
  Newcastle Utd         2.0      2
  Newcastle Utd         4.0      2
Nott'ham Forest         0.0     42
Nott'ham Forest         3.0      2
    Southampton         0.0     50
    Southampton         1.0      4
      Tottenham         0.0     44
      Tottenham         1.0      4
      Tottenham         2.0      2
       West Ham         0.0     44
       West Ham         2.0      2
       West Ham         1.0      2
         Wolves         0.0     48

Total: 48 nationality groups

5️ OFFENSIVE POWER - TOTAL GOALS PER TEAM

ProgrammingError: (psycopg2.errors.UndefinedColumn) ERREUR:  la colonne m.idmatch n'existe pas
LINE 2: SELECT e.nomequipe, COUNT(m.idmatch) as total_goals
                                  ^

[SQL:
SELECT e.nomequipe, COUNT(m.idmatch) as total_goals
FROM equipe e
LEFT JOIN match m ON e.idequipe = m.idteamhome
WHERE m.idmatch IS NOT NULL
GROUP BY e.nomequipe
ORDER BY total_goals DESC;
]
(Background on this error at: https://sqlalche.me/e/20/f405)